/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #2f3033;
  background-color: #fafbfc;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  overflow: hidden;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

hr {
  background-color: #e1e4e8;
  border: 0;
  height: .125em;
  margin: 24px 0;
  padding: 0;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
  border-radius: 50%;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.2em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.nameTitle {
  font-size: 1.25em;
  width: 100%;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.posts {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

.footer-link {

}

.img-responsive {
  margin: 0 auto;
  display: block;
  max-width: 85%;
  max-height: 600px;
}

.img-full {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 600px;
}

.img-fade {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 600px;
  opacity: 0.08;
}

#img-caption {
  margin-top: -1.5em;
  margin-bottom: 2.5em;
  text-align: center;
  font-size: 0.8em;
  color: #7f7f7f;
}

table {
  padding: 0;
  border-collapse:collapse;
}
table tr {
  border-top: 1px solid #dfe2e5;
  background-color: none;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

#post-info {
  max-width: 725px;
  margin-left: 8%;
  margin-right: 8%;
}

#cover-photo,
#cover-photo-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#info-container {
  display: block;
}

#info-container {
  margin-top: 3em;
}

#title {
  color: #2f3033;
  margin-bottom: 0.35em;
  font-size: 3em;
  line-height: 40px;
  text-transform: uppercase;
}

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
  margin-left: 8%;
  margin-right: 8%;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: 0;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: 1px solid #8085C1;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  margin-top: 0.8em;
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 14%;
  padding-left: 11em;
  padding-right: 2.125em;
  border-right: 1px solid #e7e7e7;
}

.content {
  padding-left: none;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 2em;
}

.post-title {
  font-weight: 600;
  font-size: 0.9em;
  text-align: left;
}

.post-date {
  color: #8a8a8a;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-transform: uppercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
}
