@media (max-width:1320px) {
  #cover-photo {

  }

  .header {
    padding-top: 3.45em;
  }

  .post {
    font-size: 0.9em;
    margin-left: 8%;
    margin-right: 8%;
  }

  #post-info {
    margin-left: 8%;
    margin-right: 8%;
  }

  .footer {
    font-size: 0.85em;
  }
}

.colophon {
    margin-left: 8%;
    margin-right: 8%;
}

/*@media (max-width:1090px) {
  #logo {
    max-width: 100px;
  }

  #title {
    font-size: 2.75em;
    line-height: 35px;
  }

  .header {
    padding-top: 3.85em;
  }

  .posts {
    font-size: 0.85em;
    margin-left: 4%;
  }

  #post-info {
    margin-left: none;
  }

  .sidebar {
    padding-left: 4em;
  }

  .content {
    padding-right: 3em;
  }

  .footer {
    font-size: 0.85em;
  }
}
*/

/**
 * iPhone width
 **/
@media (max-width:920px) {
  #logo {
    max-width: 75px;
  }

  #cover-photo-container {
    text-align: center;
  }

  #title {
    font-size: 2.5em;
  }

  .posts {
    margin-left: none;
  }

  #post-info {
    margin-left: none;
  }

  .sidebar {
    transition: 0.5s;
    margin-left: -100%;
    z-index: 3;
    width: 35%;
    padding-left: 1.75em;
  }

  .content {
    z-index: 1;
    padding-left: 1em;
    padding-right: 1em;
  }

  #sidebar-button {
    display:block;
    z-index: 2;
    padding: 24px;
  }

  .colophon {
      margin-left: none;
      margin-right: none;
  }
}

/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0%;
}
