.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/*****************************************************************************/
/*
/* Dark Mode Syntax Highlighting
/*
/*****************************************************************************/

[data-theme="dark"] .highlight { background: #2a2a2a; }
[data-theme="dark"] .highlight .c { color: #6a9955; font-style: italic } /* Comment */
[data-theme="dark"] .highlight .err { color: #f48771; background-color: #4a2a2a } /* Error */
[data-theme="dark"] .highlight .k { font-weight: bold; color: #569cd6 } /* Keyword */
[data-theme="dark"] .highlight .o { font-weight: bold; color: #d4d4d4 } /* Operator */
[data-theme="dark"] .highlight .cm { color: #6a9955; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .highlight .cp { color: #808080; font-weight: bold } /* Comment.Preproc */
[data-theme="dark"] .highlight .c1 { color: #6a9955; font-style: italic } /* Comment.Single */
[data-theme="dark"] .highlight .cs { color: #808080; font-weight: bold; font-style: italic } /* Comment.Special */
[data-theme="dark"] .highlight .gd { color: #f48771; background-color: #4a2a2a } /* Generic.Deleted */
[data-theme="dark"] .highlight .gd .x { color: #f48771; background-color: #5a2a2a } /* Generic.Deleted.Specific */
[data-theme="dark"] .highlight .ge { font-style: italic; color: #d4d4d4 } /* Generic.Emph */
[data-theme="dark"] .highlight .gr { color: #f48771 } /* Generic.Error */
[data-theme="dark"] .highlight .gh { color: #808080 } /* Generic.Heading */
[data-theme="dark"] .highlight .gi { color: #89d185; background-color: #2a4a2a } /* Generic.Inserted */
[data-theme="dark"] .highlight .gi .x { color: #89d185; background-color: #2a5a2a } /* Generic.Inserted.Specific */
[data-theme="dark"] .highlight .go { color: #808080 } /* Generic.Output */
[data-theme="dark"] .highlight .gp { color: #808080 } /* Generic.Prompt */
[data-theme="dark"] .highlight .gs { font-weight: bold; color: #d4d4d4 } /* Generic.Strong */
[data-theme="dark"] .highlight .gu { color: #808080 } /* Generic.Subheading */
[data-theme="dark"] .highlight .gt { color: #f48771 } /* Generic.Traceback */
[data-theme="dark"] .highlight .kc { font-weight: bold; color: #569cd6 } /* Keyword.Constant */
[data-theme="dark"] .highlight .kd { font-weight: bold; color: #569cd6 } /* Keyword.Declaration */
[data-theme="dark"] .highlight .kp { font-weight: bold; color: #569cd6 } /* Keyword.Pseudo */
[data-theme="dark"] .highlight .kr { font-weight: bold; color: #569cd6 } /* Keyword.Reserved */
[data-theme="dark"] .highlight .kt { color: #4ec9b0; font-weight: bold } /* Keyword.Type */
[data-theme="dark"] .highlight .m { color: #b5cea8 } /* Literal.Number */
[data-theme="dark"] .highlight .s { color: #ce9178 } /* Literal.String */
[data-theme="dark"] .highlight .na { color: #9cdcfe } /* Name.Attribute */
[data-theme="dark"] .highlight .nb { color: #4fc1ff } /* Name.Builtin */
[data-theme="dark"] .highlight .nc { color: #4ec9b0; font-weight: bold } /* Name.Class */
[data-theme="dark"] .highlight .no { color: #4fc1ff } /* Name.Constant */
[data-theme="dark"] .highlight .ni { color: #c586c0 } /* Name.Entity */
[data-theme="dark"] .highlight .ne { color: #dcdcaa; font-weight: bold } /* Name.Exception */
[data-theme="dark"] .highlight .nf { color: #dcdcaa; font-weight: bold } /* Name.Function */
[data-theme="dark"] .highlight .nn { color: #808080 } /* Name.Namespace */
[data-theme="dark"] .highlight .nt { color: #569cd6 } /* Name.Tag */
[data-theme="dark"] .highlight .nv { color: #9cdcfe } /* Name.Variable */
[data-theme="dark"] .highlight .ow { font-weight: bold; color: #d4d4d4 } /* Operator.Word */
[data-theme="dark"] .highlight .w { color: #808080 } /* Text.Whitespace */
[data-theme="dark"] .highlight .mf { color: #b5cea8 } /* Literal.Number.Float */
[data-theme="dark"] .highlight .mh { color: #b5cea8 } /* Literal.Number.Hex */
[data-theme="dark"] .highlight .mi { color: #b5cea8 } /* Literal.Number.Integer */
[data-theme="dark"] .highlight .mo { color: #b5cea8 } /* Literal.Number.Oct */
[data-theme="dark"] .highlight .sb { color: #ce9178 } /* Literal.String.Backtick */
[data-theme="dark"] .highlight .sc { color: #ce9178 } /* Literal.String.Char */
[data-theme="dark"] .highlight .sd { color: #ce9178 } /* Literal.String.Doc */
[data-theme="dark"] .highlight .s2 { color: #ce9178 } /* Literal.String.Double */
[data-theme="dark"] .highlight .se { color: #ce9178 } /* Literal.String.Escape */
[data-theme="dark"] .highlight .sh { color: #ce9178 } /* Literal.String.Heredoc */
[data-theme="dark"] .highlight .si { color: #ce9178 } /* Literal.String.Interpol */
[data-theme="dark"] .highlight .sx { color: #ce9178 } /* Literal.String.Other */
[data-theme="dark"] .highlight .sr { color: #89d185 } /* Literal.String.Regex */
[data-theme="dark"] .highlight .s1 { color: #ce9178 } /* Literal.String.Single */
[data-theme="dark"] .highlight .ss { color: #c586c0 } /* Literal.String.Symbol */
[data-theme="dark"] .highlight .bp { color: #808080 } /* Name.Builtin.Pseudo */
[data-theme="dark"] .highlight .vc { color: #9cdcfe } /* Name.Variable.Class */
[data-theme="dark"] .highlight .vg { color: #9cdcfe } /* Name.Variable.Global */
[data-theme="dark"] .highlight .vi { color: #9cdcfe } /* Name.Variable.Instance */
[data-theme="dark"] .highlight .il { color: #b5cea8 } /* Literal.Number.Integer.Long */
